<div class="cart">
  <div class="cart-container">
    <div class="cart-header">
        <h2 class="cart-title">Productos agregados</h2>
        <a class="btn-close-side-menu" href="#">
            <i class='bx bx-x-circle'></i>
        </a>
    </div>
    <div class="cart-content-products">
      <div class="cart-product-item">
        <img
          class="cart-product-cover"
          src="./assets/images/product_01.png"
          alt=""
        />
        <div class="cart-product-description">
          <div>
            <h3>Producto 01 con características</h3>
            <p>$45.000</p>
          </div>
          <div class="cart-product-count">
              <button>-</button>
              <div class="count">1</div>
              <button>+</button>
          </div>
        </div>
        <div class="cart-product-actions">
            <button><i class='bx bx-trash'></i></button>
        </div>
      </div>
    </div>
    <div class="cart-counts">
        <div class="cart-counts-info subtotal">
            <h4>Subtotal:</h4><span>$45.000</span>
        </div>
        <div class="cart-counts-info iva">
            <h4>IVA(19%):</h4><span>$45.000</span>
        </div>
        <div class="cart-counts-info total">
            <h4>Total:</h4><span>$45.000</span>
        </div>
    </div>
  </div>
</div>
